<form [formGroup]="warehouseForm" (ngSubmit)="onSubmit()">

    <label for="warehouseId">Warehouse ID:</label>
    <input type="number" id="warehouseId" formControlName="warehouseId">
    <div *ngIf="warehouseForm.get('warehouseId')?.invalid && warehouseForm.get('warehouseId')?touched">
        <div *ngIf="warehouseForm.get('warehouseId')?.errors?.required">Warehouse ID is required.</div>
    </div>

    <label for="supplierId">Supplier ID:</label>
    <input type="text" id="supplierId" formControlName="supplierId">
    <div *ngIf="warehouseForm.get('supplierId')?.invalid && warehouseForm.get('supplierId')?touched">
        <div *ngIf="warehouseForm.get('supplierId')?.errors?.required">Supplier ID is required.</div>
        <div *ngIf="warehouseForm.get('supplierId')?.errors?.min">Supplier ID must be greater than 1.</div>
    </div>

    <label for="warehouseName">Warehouse Name:</label>
    <input type="text" id="warehouseName" formControlName="warehouseName">
    <div *ngIf="warehouseForm.get('warehouseName')?.invalid && warehouseForm.get('warehouseName')?touched">
        <div *ngIf="warehouseForm.get('warehouseName')?.errors?.required">Warehouse Name is required.</div>
    </div>

    <label for="location">Location:</label>
    <input type="text" id="location" formControlName="location">
    <div *ngIf="warehouseForm.get('location')?.invalid && warehouseForm.get('location')?touched">
        <div *ngIf="warehouseForm.get('location')?.errors?.required">Location is required.</div>
    </div>

    <label for="capacity">Capacity:</label>
    <input type="text" id="capacity" formControlName="capacity">
    <div *ngIf="warehouseForm.get('capacity')?.invalid && warehouseForm.get('capacity')?touched">
        <div *ngIf="warehouseForm.get('capacity')?.errors?.required">Capacity is required.</div>
        <div *ngIf="warehouseForm.get('capacity')?.errors?.min">Capacity must be greater than 0.</div>
    </div>

    <button type="submit">Add Warehouse</button>

</form>
